.workingGridHead::before {
	content: "";
    display: inline-block;
	position: relative;
    bottom: 100px;
    left: 50%;
    height: 160px;
    width: 1px;
	background-color: #e5e5e5;
}

.image-cards:hover {
	cursor: pointer;
}

.nav-links:hover {
	cursor: pointer;
}

.fade-in {
  animation: animation-fade-in 1s;
}

.fade-in-fast {
  animation: animation-fade-in 0.3s;
}

.fade-in-slow {
  animation: animation-fade-in 5s;
}

@keyframes animation-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animation-fade-in-fast {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animation-fade-in-slow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}